@using FPTBlog.Src.CategoryModule.Entity;
@{
    ViewData["Title"] = Routers.Category.Title;
    var categories = ViewData["categories"] as List<Category>;
}

@section Styles {


<link rel="stylesheet" href="~/ui/admin/app.css">

}
<div class="flex flex-1 overflow-hidden bg-big-stone-500">
    @await Html.PartialAsync("~/Views/Components/SideDashboard.cshtml")
    <div class="content ">
        @await Html.PartialAsync("~/Views/Components/AuthAdmin.cshtml")
        <div class="flex items-center mt-8 intro-y">
            <h2 class="mr-auto text-lg font-medium">
                Catagory Management
            </h2>
        </div>
        <div class="grid grid-cols-12 gap-4 mt-5">
            <div class="col-span-4">

                <div class="intro-y box">
                    <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row dark:border-dark-5">
                        <h2 class="mr-auto text-base font-medium">
                            Create Category
                        </h2>

                    </div>
                    <div id="vertical-form" class="p-5">
                        <form class="space-y-4 preview" id="createCategoryForm">

                            <div class="mt-2 text-green-500 pristine-error fade-in first-letter" id="MESSAGEERROR">
                            </div>
                            <div>
                                <label for="name" class="form-label" id="NAMELABEL">Name</label>
                                <input id="name" name="name" type="text" class="form-control">
                                <div class="mt-2 pristine-error text-primary-3" id="NAMEERROR"></div>
                            </div>
                            <div>
                                <label for="description" class="form-label" id="DESCRIPTIONLABEL">Description</label>
                                <input id="description" name="description" type="text" class="form-control">
                                <div class="mt-2 pristine-error text-primary-3" id="DESCRIPTIONERROR"></div>
                            </div>

                            <div>
                                <label>Status</label>
                                <div class="flex flex-col mt-2 sm:flex-row">
                                    <div class="mr-2 form-check">
                                        <input id="status-active" class="form-check-input" type="radio" name="status"
                                            value="1" checked>
                                        <label class="form-check-label" for="radio-switch-4">Active</label>
                                    </div>
                                    <div class="mt-2 mr-2 form-check sm:mt-0">
                                        <input id="status-inactive" class="form-check-input" type="radio" name="status"
                                            value="0">
                                        <label class="form-check-label" for="radio-switch-5">Inactive</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", "Create New")
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="col-span-8 intro-y box">
                <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row">
                    <h2 class="mr-auto text-base font-medium">
                        Category
                    </h2>

                </div>
                <div class="p-5" id="hoverable-table">
                    <div class="preview" style="display: block; opacity: 1;">
                        <div class="overflow-x-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Category ID
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Name
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Description
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Status</th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Create Date
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in categories)
                                    {
                                        var link = $"{Routers.UpdateCategory.Link}?categoryId={item.CategoryId}";
                                        <tr class="hover:bg-gray-200">
                                            <td class="border">@item.CategoryId</td>
                                            <td class="border">@item.Name</td>
                                            <td class="border">@item.Description</td>
                                            <td class="border">

                                                @if (item.Status == CategoryStatus.ACTIVE)
                                                {
                                                    <div class="flex items-center text-theme-20">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                                    class="w-4 h-4 mr-2 feather feather-check-square">
                                                            <polyline points="9 11 12 14 22 4"></polyline>
                                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                            </path>
                                                        </svg> Active
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="flex items-center text-theme-21">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                                    class="w-4 h-4 mr-2 feather feather-check-square">
                                                            <polyline points="9 11 12 14 22 4"></polyline>
                                                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                            </path>
                                                        </svg> Inactive
                                                    </div>
                                                }



                                            </td>
                                            <td class="border">@item.CreateDate</td>
                                            <td class="border">
                                                <a href="@link" class="mb-2 mr-1 btn btn-primary"> <i data-feather="edit-2"
                                                    class="w-5 h-5"></i> </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>

</div>

@section Scripts {

<script src="~/js/adminCommon.js"></script>
<script src="~/ui/admin/app.js"></script>
<script src="~/js/createCategory.js"></script>

}