@{
    decimal pageIndex = Decimal.Parse(Model.PageIndex) ?? 0;
    decimal pageSize = Decimal.Parse(Model.PageSize) ?? 12;
    decimal total = Model.Total;

    var totalPage = (int)Math.Ceiling(total / pageSize);

    var totalRender = totalPage < 3 ? totalPage : 3;

    var pageRange = (((int)pageIndex - 1) < 0) ? 0 : ((int)pageIndex - 1);

    if (totalPage > 3 && pageIndex > totalPage - 3)
    {
        pageRange = totalPage - 3;
    }

    // Fix pageRange when totalPage = 2 or 3
    if (totalPage - pageRange < totalRender)
    {
        pageRange = 0;
    }

    var previousPage = pageIndex - 1;
    if (previousPage < 0)
    {
        previousPage = 0;
    }

    var nextPage = pageIndex + 1;
    if (nextPage > totalPage - 1)
    {
        nextPage = pageIndex;
    }

    var lastPage = totalPage - 1;
    if (lastPage < 0)
    {
        lastPage = 0;
    }

    var showMax = (pageIndex + 1) * pageSize;
}




<div class="flex items-center justify-between px-4 py-3 bg-white border-t border-gray-200 sm:px-6">

    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="text-sm text-gray-700">

                <span class="font-medium">@total</span>
                results
            </p>
        </div>
        <div id="pagination-btn">
            <nav class="relative z-0 inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                <button type="button" data-index="0"
                    class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md hover:bg-gray-50">
                    <span class="sr-only">First</span>
                    <!-- Heroicon name: solid/chevron-left -->
                    <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.7071 5.29289C13.0976 5.68342 13.0976 6.31658 12.7071 6.70711L9.41421 10L12.7071 13.2929C13.0976 13.6834 13.0976 14.3166 12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L7.29289 10.7071C6.90237 10.3166 6.90237 9.68342 7.29289 9.29289L11.2929 5.29289C11.6834 4.90237 12.3166 4.90237 12.7071 5.29289Z"
                            fill="#6B7280" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M19.7071 5.29289C20.0976 5.68342 20.0976 6.31658 19.7071 6.70711L16.4142 10L19.7071 13.2929C20.0976 13.6834 20.0976 14.3166 19.7071 14.7071C19.3166 15.0976 18.6834 15.0976 18.2929 14.7071L14.2929 10.7071C13.9024 10.3166 13.9024 9.68342 14.2929 9.29289L18.2929 5.29289C18.6834 4.90237 19.3166 4.90237 19.7071 5.29289Z"
                            fill="#6B7280" />
                    </svg>

                </button>
                <button type="button" data-index="@previousPage"
                    class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50">
                    <span class="sr-only">Previous</span>
                    <!-- Heroicon name: solid/chevron-left -->
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                </button>

                @for (int i = pageRange; i < pageRange + totalRender; i++)
                {
                    var display = i + 1;

                    if (i == pageIndex)
                    {
                        <button type="button"
                    class="relative z-10 inline-flex items-center px-4 py-2 text-sm font-medium border text-tango-600 border-tango-500 bg-tango-50"
                    data-index="@i">
                            @display
                        </button>
                    }
                    else
                    {

                        <button type="button" data-index="@i"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50">
                            @display
                        </button>

                    }
                }

                <button type="button" data-index="@nextPage"
                    class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-50">
                    <span class="sr-only">Next</span>
                    <!-- Heroicon name: solid/chevron-right -->
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
                <button type="button" data-index="@lastPage"
                    class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-r-md hover:bg-gray-50">
                    <span class="sr-only">Last</span>
                    <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z"
                            fill="#6B7280" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.2929 14.7071C13.9024 14.3166 13.9024 13.6834 14.2929 13.2929L17.5858 10L14.2929 6.70711C13.9024 6.31658 13.9024 5.68342 14.2929 5.29289C14.6834 4.90237 15.3166 4.90237 15.7071 5.29289L19.7071 9.29289C20.0976 9.68342 20.0976 10.3166 19.7071 10.7071L15.7071 14.7071C15.3166 15.0976 14.6834 15.0976 14.2929 14.7071Z"
                            fill="#6B7280" />
                    </svg>
                </button>
            </nav>
        </div>
    </div>
</div>
