@using FPTBlog.Src.CategoryModule.Entity
@using FPTBlog.Src.UserModule.Entity
@using FPTBlog.Utils.Common


@{
    var users = (List<User>)this.ViewData["users"];
    var total = (int)this.ViewData["total"];
}

<div class="flex items-center mt-8 intro-y">
    <h2 class="mr-auto text-lg font-medium">
        User Management
    </h2>
</div>

<div class="grid grid-cols-12 gap-4 mt-5">
    <div class="col-span-12 space-y-2 md:col-span-12">
        @* Table Start *@
        <div class="col-span-12 md:col-span-8 intro-y box">
            <div class="p-5 border-b border-gray-200 sm:flex-row">

                <div class="flex items-center justify-between">
                    <h2 class="mr-auto text-base font-medium">
                        Search List
                    </h2>
                </div>


                @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                <form action="@RoutersAdmin.UserGetUserList.Link" id="listUserForm" class="my-2">
                    <div class="flex space-x-2">
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "searchName", Label = "Search", Type = "text", Value = (string)
                        this.Context.Request.Query["searchName"] ?? "" , PlaceHolder= "Name", IsLabel = false
                        })
                        @await Html.PartialAsync("../../Components/Form/StatusField.cshtml",
                        new { Name = "searchStatus", Label = "Status", Value =
                        ((string) this.Context.Request.Query["searchStatus"] ?? "1" ) == ((int)
                        UserStatus.ENABLE).ToString(),
                        IsLabel = false })
                        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                        new { Name = "pageSize", Value = (string) this.Context.Request.Query["pageSize"] ?? "12" })
                        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                        new { Name = "pageIndex",Value = (string) this.Context.Request.Query["pageIndex"] ?? "0" })

                        @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                        new { Label = "Search" })
                    </div>
                </form>
            </div>


            <div class="p-5" id="hoverable-table">
                <div class="preview" style="display: block; opacity: 1;">
                    <div class="overflow-x-auto">
                        <table class="table">

                            <thead>
                                <tr>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        #
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Name
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Username
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Email
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Phone
                                    </th>

                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Status
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Role
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Create Date
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < users.Count; i++)
                                {
                                    var item = users[i];
                                    <tr class="hover:bg-gray-200">
                                        <td class="border">@(i+1)</td>
                                        <td class="border">@item.Name</td>
                                        <td class="border">@item.Username</td>
                                        <td class="border">@item.Email</td>
                                        <td class="border">@item.Phone</td>
                                        <td class="border">@await Html.PartialAsync(
                                        "../../Components/Table/TableStatus.cshtml",
                                        item.Status == UserStatus.ENABLE)</td>
                                        <td class="border">@item.Role</td>
                                        <td class="border">@item.CreateDate</td>
                                        <td class="border">
                                            @if (item.Status == UserStatus.ENABLE)
                                            {
                                                <button class="mb-2 mr-1 btn btn-primary" userId="@item.UserId" id="block-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-lock block mx-auto">
                                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                                    </svg>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="mb-2 mr-1 btn btn-primary" userId="@item.UserId" id="block-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-unlock block mx-auto">
                                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                                        <path d="M7 11V7a5 5 0 0 1 9.9-1"></path>
                                                    </svg>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @* Table End *@
        @await Html.PartialAsync("../../Components/Pagination/Pagination.cshtml",
        new { PageIndex = (string) this.Context.Request.Query["pageIndex"]?? "0", PageSize = (string)
        this.Context.Request.Query["pageSize"]?? "12", Total = total })
    </div>
</div>

@section Scripts {
<script src="/js/user-block.js"></script>
<script src="/js/user-list.js"></script>
}
