@{
    var errorField = $"{Model.Field}Error";
    var value = Model.Value ?? "";

}

<div class="space-y-1">
    <label class="font-medium" htmlFor="@Model.Field">
        @Model.Label
    </label>
    @Html.TextBox($"{@Model.Field}", value,null, new {
    @class = "block w-full px-2 py-1 border rounded-sm focus:outline-none",
    @type = @Model.Type,

    })
    @if (ViewData[@errorField] != null)
    {
        <p class="text-red-500">@Model.Label @ViewData[@errorField]</p>
    }
</div>