@using FPTBlog.Src.CategoryModule.Entity
@using FPTBlog.Utils.Common


@{
    var categories = (List<Category>)this.ViewData["categories"];
    var total = (int)this.ViewData["total"];


}


<div class="flex items-center mt-8 intro-y">
    <h2 class="mr-auto text-lg font-medium">
        Catagory Management
    </h2>
</div>

<div class="grid grid-cols-12 gap-4 mt-5">
    <div class="col-span-12 space-y-2 md:col-span-12">
        @* Table Start *@
        <div class="col-span-12 md:col-span-8 intro-y box">
            <div class="p-5 border-b border-gray-200 sm:flex-row">
                <div class="flex items-center justify-between">

                    <h2 class="mr-auto text-base font-medium">
                        Search List
                    </h2>
                    <div class="text-center">
                        <a href="javascript:;" data-toggle="modal" data-target="#create-category-modal"
                            class="block btn btn-primary">Create Category</a>
                    </div>
                </div>

                <form id="listCategoryForm" class="my-2">
                    <div class="flex space-x-2">
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "searchName", Label = "Search", Type = "text", Value = (string)
                        this.Context.Request.Query["searchName"] ?? "" , PlaceHolder= "Name", IsLabel = false
                        })
                        @await Html.PartialAsync("../../Components/Form/StatusField.cshtml",
                        new { Name = "searchStatus", Label = "Status", Value =
                        (string) this.Context.Request.Query["searchStatus"] == ((int) CategoryStatus.ACTIVE).ToString()
                        ,IsLabel = false })
                        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                        new { Name = "pageSize", Value = (string) this.Context.Request.Query["pageSize"] ?? "12" })
                        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                        new { Name = "indexPage",Value = (string) this.Context.Request.Query["indexPage"] ?? "0" })

                        @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                        new { Label = "Search" })
                    </div>
                </form>


            </div>
            <div class="p-5" id="hoverable-table">
                <div class="preview" style="display: block; opacity: 1;">
                    <div class="overflow-x-auto">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        ID
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Name
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Description
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Status
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Create Date
                                    </th>
                                    <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                        Edit
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in categories)
                                {
                                    var link =
                                    $"{RoutersAdmin.UpdateCategory.Link}?categoryId={item.CategoryId}";

                                    <tr class="hover:bg-gray-200">
                                        <td class="border">@item.CategoryId</td>
                                        <td class="border">@item.Name</td>
                                        <td class="border">@item.Description</td>
                                        <td class="border">
                                            @await Html.PartialAsync(
                                        "../../Components/Table/TableStatus.cshtml",
                                        item.Status == CategoryStatus.ACTIVE)
                                        </td>
                                        <td class="border">@item.CreateDate</td>
                                        <td class="border">
                                            <a href="@link" class="mb-2 mr-1 btn btn-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="w-5 h-5 feather feather-edit-2">
                                                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @* Table End *@
        @await Html.PartialAsync("../../Components/Pagination/Pagination.cshtml",
        new { IndexPage = (string) this.Context.Request.Query["indexPage"]?? "0", PageSize = (string)
        this.Context.Request.Query["pageSize"]?? "12", Total = total })
    </div>
</div>

<!-- BEGIN: Slide Over Toggle -->
<!-- END: Slide Over Toggle -->
<!-- BEGIN: Slide Over Content -->
<div id="create-category-modal" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> <a data-dismiss="modal" href="javascript:;"> <i data-feather="x"
                    class="w-8 h-8 text-gray-500"></i> </a> <!-- BEGIN: Slide Over Header -->
            <div class="modal-header">
                <h2 class="mr-auto text-base font-medium">Create Category</h2>
            </div> <!-- END: Slide Over Header -->
            <!-- BEGIN: Slide Over Body -->
            <div class="modal-body">
                @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                <form class="space-y-4 preview" id="createCategoryForm">
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "name", Label = "Name", Type = "text", Value = "" })
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "description", Label = "Description", Type = "text", Value = "" })

                    @await Html.PartialAsync("../../Components/Form/StatusField.cshtml",
                    new { Name = "status", Label = "Status", Value = true })
                    @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                    new { Label = "Create New" })
                </form>

            </div>
            <!-- END: Slide Over Body -->

        </div>
    </div>
</div> <!-- END: Slide Over Content -->


@section Scripts {

<script src="/js/category-list.js"></script>
}
