@using FPTBlog.Utils.Common

<header class="bg-white border-b-2 shadow-md">
    <div class="relative flex items-center justify-between px-2 mx-auto md:items-end md:w-4/5 md:px-0 md:py-2">
        <div class="z-50 ">
            <a href="@Routers.Home.Link">
                <h1 class="block text-3xl font-semibold md:text-4xl text-tango-500 ">
                    FPT Blog
                </h1>
            </a>
        </div>
        <div class="hidden space-x-2 md:flex">
            <div>
                <input class="border rounded-sm outline-none border-tango-500 focus:outline-none" />
            </div>
            <div class="items-center hidden space-x-1 " id="user">
                <div class="w-10 h-10 overflow-hidden border rounded-full">
                    <img src="https://picsum.photos/48/48" id="user-avatar" />
                </div>
                <a class="block px-2 py-2 font-semibold text-white duration-300 border rounded-md hover:bg-tango-400 bg-tango-500 "
                    href="/blog">Blog</a>
            </div>
            <div class="space-x-2 md:flex" id="auth">
                <a href="@Routers.Login.Link"
                    class="block px-8 py-1 font-semibold text-white duration-300 border rounded-sm hover:bg-tango-400 bg-tango-500 ">Login
                </a>
                <a href="@Routers.Register.Link"
                    class="block px-8 py-1 font-semibold text-white duration-300 border rounded-sm hover:bg-tango-400 bg-tango-500 ">Register
                </a>
            </div>
        </div>
        <div class="z-50 block md:hidden">
            <button class="menu" id="nav-btn"
                onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                aria-label="Main Menu">
                <svg width="64" height="64" viewBox="0 0 100 100">
                    <path class="line line1"
                        d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3"
                        d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </div>
    <div class="hidden bg-tango-500 md:block">
        <ul class="flex items-center justify-between w-4/5 mx-auto text-center ">
            <a href="#"
                class="flex-1 block py-1 font-semibold text-white duration-300 border-l-4 border-r-2 hover:bg-tango-300 hover:text-black border-tango-300 ">Club</a>

            <a href=" #"
                class="flex-1 block py-1 font-semibold text-white duration-300 border-l-2 border-r-2 hover:bg-tango-300 hover:text-black border-tango-300 ">Student</a>

            <a href=" #"
                class="flex-1 block py-1 font-semibold text-white duration-300 border-l-2 border-r-2 hover:bg-tango-300 hover:text-black border-tango-300 ">IT</a>

            <a href=" #"
                class="flex-1 block py-1 font-semibold text-white duration-300 border-l-2 border-r-2 hover:bg-tango-300 hover:text-black border-tango-300 ">AI</a>

            <a href=" #"
                class="flex-1 block py-1 font-semibold text-white duration-300 border-l-2 border-r-4 hover:bg-tango-300 hover:text-black border-tango-300 ">Cyber
                Security</a>
        </ul>
    </div>
    <ul class="fixed top-0 left-0 flex flex-col justify-between w-full min-h-screen px-2 pt-16 pb-2 duration-700 opacity-0 md:static md:hidden bg-tango-100"
        id="nav-menu">
        <div>
            <li class="py-1 border-t-2 border-tango-700">
                <h2 class="p-2 text-lg font-semibold">Subject</h2>
                <ul class="space-y-2 ">
                    <li>
                        <a href="#"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Course</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Club</a>
                    </li>
                    <li>
                        <a href=" #"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Student</a>
                    </li>
                    <li>
                        <a href=" #"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">IT</a>
                    </li>
                    <li>
                        <a href=" #"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">AI</a>
                    </li>
                    <li>
                        <a href=" #"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Cyber
                            Security</a>
                    </li>
                </ul>
            </li>
            <li class="py-1 ">
                <h2 class="p-2 text-lg font-semibold ">Account</h2>
                <ul class="space-y-2 ">
                    <li>
                        <a href="@Routers.Login.Link"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Login
                        </a>
                    </li>
                    <li>
                        <a href="@Routers.Register.Link"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Register
                        </a>
                    </li>
                    <li>
                        <a href=" #"
                            class="block p-2 font-semibold duration-300 border border-gray-800 rounded-sm hover:bg-tango-300 hover:border-tango-300">Contact
                            Support</a>
                    </li>


                </ul>
            </li>
        </div>
        <div class="">
            <a class="block ">
                ©Developed by Mono Infinity
            </a>
        </div>
    </ul>
</header>