@{
    var viewData = (ViewDataDictionary<dynamic>)Model;

    var user = (User)this.ViewData["user"] ?? new User();
    var listNavbar = new[] { "Club", "Cyber Security", "Student", "IT" };
    var howToWriteLink = "/post?PostId=d4b7bf50-03fe-4429-8e72-886dc0c6db5d";
}

<div class="fixed z-30 w-full duration-300 transform bg-white shadow-md navbar" id="navbar-layout">

    <div class="max-w-6xl mx-auto md:w-4/5">
        <div class=" md:hidden">
            <div class="fixed z-50 flex items-center justify-between w-full p-4 shadow-lg bg-alabaster-500">
                <div class="flex-1">
                    <div class="space-y-2 " id="nav-btn">
                        <div class="w-8 h-0.75 rounded-full bg-shark-500 transform duration-300 " id="nav-btn-1"></div>
                        <div class="w-8 h-0.75 rounded-full bg-shark-500 transform duration-300" id="nav-btn-2"></div>
                        <div class="w-8 h-0.75 rounded-full bg-shark-500 transform duration-300" id="nav-btn-3"></div>
                    </div>
                </div>

                <div class="flex-1">
                    <a href="@Routers.CommonGetHome.Link">
                        <svg width="150" height="30" viewBox="0 0 150 30" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.73 4.63242C14.87 4.85242 14.99 5.15242 15.09 5.53242C15.21 5.89242 15.27 6.27242 15.27 6.67242C15.27 7.45242 15.1 8.01242 14.76 8.35242C14.44 8.67242 14 8.83242 13.44 8.83242H7.13995V12.2224H13.71C13.87 12.4424 14 12.7324 14.1 13.0924C14.22 13.4524 14.28 13.8324 14.28 14.2324C14.28 14.9924 14.11 15.5424 13.77 15.8824C13.45 16.2024 13.01 16.3624 12.45 16.3624H7.19995V22.6924C6.97995 22.7524 6.62995 22.8124 6.14995 22.8724C5.68995 22.9324 5.22995 22.9624 4.76995 22.9624C4.30995 22.9624 3.89995 22.9224 3.53995 22.8424C3.19995 22.7824 2.90995 22.6624 2.66995 22.4824C2.42995 22.3024 2.24995 22.0524 2.12995 21.7324C2.00995 21.4124 1.94995 20.9924 1.94995 20.4724V7.42242C1.94995 6.56242 2.19995 5.88242 2.69995 5.38242C3.19995 4.88242 3.87995 4.63242 4.73995 4.63242H14.73ZM24.6975 13.0624C25.5375 13.0624 26.1775 12.8724 26.6175 12.4924C27.0775 12.0924 27.3075 11.4924 27.3075 10.6924C27.3075 9.93242 27.0675 9.35242 26.5875 8.95242C26.1275 8.53242 25.4475 8.32242 24.5475 8.32242C24.2275 8.32242 23.9575 8.33242 23.7375 8.35242C23.5375 8.35242 23.3275 8.37242 23.1075 8.41242V13.0624H24.6975ZM23.1375 22.6924C22.9175 22.7524 22.5675 22.8124 22.0875 22.8724C21.6275 22.9324 21.1675 22.9624 20.7075 22.9624C20.2475 22.9624 19.8375 22.9224 19.4775 22.8424C19.1375 22.7824 18.8475 22.6624 18.6075 22.4824C18.3675 22.3024 18.1875 22.0524 18.0675 21.7324C17.9475 21.4124 17.8875 20.9924 17.8875 20.4724V6.34242C17.8875 5.92242 17.9975 5.60242 18.2175 5.38242C18.4575 5.14242 18.7775 4.95242 19.1775 4.81242C19.8575 4.57242 20.6275 4.40242 21.4875 4.30242C22.3675 4.18242 23.2475 4.12242 24.1275 4.12242C26.8875 4.12242 28.9975 4.71242 30.4575 5.89242C31.9175 7.07242 32.6475 8.67242 32.6475 10.6924C32.6475 11.6724 32.4875 12.5624 32.1675 13.3624C31.8675 14.1424 31.4075 14.8224 30.7875 15.4024C30.1875 15.9624 29.4175 16.4024 28.4775 16.7224C27.5575 17.0224 26.4875 17.1724 25.2675 17.1724H23.1375V22.6924ZM34.5962 8.83242C34.4562 8.61242 34.3262 8.31242 34.2062 7.93242C34.0862 7.55242 34.0262 7.15242 34.0262 6.73242C34.0262 5.95242 34.1962 5.39242 34.5362 5.05242C34.8962 4.71242 35.3562 4.54242 35.9162 4.54242H48.9962C49.1362 4.76242 49.2662 5.06242 49.3862 5.44242C49.5062 5.82242 49.5662 6.22242 49.5662 6.64242C49.5662 7.42242 49.3862 7.98242 49.0262 8.32242C48.6862 8.66242 48.2362 8.83242 47.6762 8.83242H44.3462V22.6924C44.1262 22.7524 43.7762 22.8124 43.2962 22.8724C42.8362 22.9324 42.3762 22.9624 41.9162 22.9624C41.4562 22.9624 41.0462 22.9224 40.6862 22.8424C40.3462 22.7824 40.0562 22.6624 39.8162 22.4824C39.5762 22.3024 39.3962 22.0524 39.2762 21.7324C39.1562 21.4124 39.0962 20.9924 39.0962 20.4724V8.83242H34.5962ZM63.2121 19.0624C63.4921 19.1424 63.8521 19.2024 64.2921 19.2424C64.7321 19.2624 65.1521 19.2724 65.5521 19.2724C66.3521 19.2724 67.0121 19.1124 67.5321 18.7924C68.0721 18.4524 68.3421 17.9324 68.3421 17.2324C68.3421 16.5724 68.1221 16.1024 67.6821 15.8224C67.2421 15.5424 66.5721 15.4024 65.6721 15.4024H63.2121V19.0624ZM63.2121 11.7424H65.4021C66.2621 11.7424 66.8821 11.5824 67.2621 11.2624C67.6621 10.9424 67.8621 10.4724 67.8621 9.85242C67.8621 9.31242 67.6321 8.88242 67.1721 8.56242C66.7321 8.24242 66.0621 8.08242 65.1621 8.08242C64.8621 8.08242 64.5121 8.09242 64.1121 8.11242C63.7321 8.13242 63.4321 8.16242 63.2121 8.20242V11.7424ZM65.1621 23.2924C64.8221 23.2924 64.4221 23.2824 63.9621 23.2624C63.5021 23.2424 63.0221 23.2024 62.5221 23.1424C62.0421 23.0824 61.5621 23.0024 61.0821 22.9024C60.6021 22.8224 60.1621 22.7024 59.7621 22.5424C58.6621 22.1224 58.1121 21.3924 58.1121 20.3524V6.34242C58.1121 5.92242 58.2221 5.60242 58.4421 5.38242C58.6821 5.14242 59.0021 4.95242 59.4021 4.81242C60.0821 4.57242 60.9321 4.40242 61.9521 4.30242C62.9721 4.18242 64.0221 4.12242 65.1021 4.12242C67.6621 4.12242 69.6321 4.55242 71.0121 5.41242C72.3921 6.27242 73.0821 7.60242 73.0821 9.40242C73.0821 10.3024 72.8221 11.0824 72.3021 11.7424C71.7821 12.3824 71.0821 12.8524 70.2021 13.1524C71.2021 13.4324 72.0321 13.9424 72.6921 14.6824C73.3721 15.4224 73.7121 16.3524 73.7121 17.4724C73.7121 19.4524 72.9721 20.9224 71.4921 21.8824C70.0321 22.8224 67.9221 23.2924 65.1621 23.2924ZM81.4862 22.7824C81.2662 22.8224 80.9362 22.8724 80.4962 22.9324C80.0762 23.0124 79.6462 23.0524 79.2062 23.0524C78.7662 23.0524 78.3662 23.0224 78.0062 22.9624C77.6662 22.9024 77.3762 22.7824 77.1362 22.6024C76.8962 22.4224 76.7062 22.1824 76.5662 21.8824C76.4462 21.5624 76.3862 21.1524 76.3862 20.6524V3.25242C76.6062 3.21242 76.9262 3.16242 77.3462 3.10242C77.7862 3.02242 78.2262 2.98242 78.6662 2.98242C79.1062 2.98242 79.4962 3.01242 79.8362 3.07242C80.1962 3.13242 80.4962 3.25242 80.7362 3.43242C80.9762 3.61242 81.1562 3.86242 81.2762 4.18242C81.4162 4.48242 81.4862 4.88242 81.4862 5.38242V22.7824ZM99.7946 15.5224C99.7946 16.7624 99.6047 17.8724 99.2247 18.8524C98.8447 19.8124 98.3046 20.6224 97.6046 21.2824C96.9246 21.9424 96.1047 22.4424 95.1447 22.7824C94.1847 23.1224 93.1147 23.2924 91.9347 23.2924C90.7547 23.2924 89.6847 23.1124 88.7247 22.7524C87.7647 22.3924 86.9346 21.8824 86.2346 21.2224C85.5546 20.5424 85.0247 19.7224 84.6447 18.7624C84.2647 17.8024 84.0747 16.7224 84.0747 15.5224C84.0747 14.3424 84.2647 13.2724 84.6447 12.3124C85.0247 11.3524 85.5546 10.5424 86.2346 9.88242C86.9346 9.20242 87.7647 8.68242 88.7247 8.32242C89.6847 7.96242 90.7547 7.78242 91.9347 7.78242C93.1147 7.78242 94.1847 7.97242 95.1447 8.35242C96.1047 8.71242 96.9246 9.23242 97.6046 9.91242C98.3046 10.5724 98.8447 11.3824 99.2247 12.3424C99.6047 13.3024 99.7946 14.3624 99.7946 15.5224ZM89.2947 15.5224C89.2947 16.7424 89.5246 17.6824 89.9846 18.3424C90.4646 18.9824 91.1247 19.3024 91.9643 19.3024C92.8047 19.3024 93.4447 18.9724 93.8847 18.3124C94.3447 17.6524 94.5747 16.7224 94.5747 15.5224C94.5747 14.3224 94.3447 13.4024 93.8847 12.7624C93.4247 12.1024 92.7747 11.7724 91.9347 11.7724C91.0947 11.7724 90.4446 12.1024 89.9846 12.7624C89.5246 13.4024 89.2947 14.3224 89.2947 15.5224ZM109.393 7.78242C110.533 7.78242 111.563 7.93242 112.483 8.23242C113.423 8.51242 114.213 8.88242 114.853 9.34242C115.253 9.62242 115.563 9.93242 115.783 10.2724C116.023 10.6124 116.142 11.0524 116.142 11.5924V22.0924C116.142 23.1524 115.943 24.0624 115.543 24.8224C115.143 25.6024 114.593 26.2424 113.893 26.7424C113.213 27.2624 112.403 27.6424 111.463 27.8824C110.543 28.1224 109.553 28.2424 108.493 28.2424C106.673 28.2424 105.243 27.9924 104.203 27.4924C103.163 27.0124 102.643 26.2224 102.643 25.1224C102.643 24.6624 102.733 24.2524 102.913 23.8924C103.113 23.5524 103.333 23.2924 103.573 23.1124C104.153 23.4324 104.803 23.7024 105.523 23.9224C106.263 24.1424 107.023 24.2524 107.803 24.2524C108.883 24.2524 109.743 24.0724 110.383 23.7124C111.023 23.3524 111.343 22.7724 111.343 21.9724V21.4924C110.523 21.8524 109.523 22.0324 108.343 22.0324C107.443 22.0324 106.583 21.9024 105.763 21.6424C104.963 21.3624 104.253 20.9424 103.633 20.3824C103.033 19.8024 102.543 19.0624 102.163 18.1624C101.803 17.2624 101.623 16.1924 101.623 14.9524C101.623 13.7324 101.813 12.6724 102.193 11.7724C102.593 10.8724 103.133 10.1324 103.813 9.55242C104.513 8.95242 105.333 8.51242 106.273 8.23242C107.233 7.93242 108.273 7.78242 109.393 7.78242ZM111.253 12.1324C111.113 12.0524 110.903 11.9724 110.623 11.8924C110.363 11.8124 110.033 11.7724 109.633 11.7724C108.653 11.7724 107.913 12.0524 107.413 12.6124C106.933 13.1524 106.693 13.9324 106.693 14.9524C106.693 16.1124 106.933 16.9524 107.413 17.4724C107.913 17.9724 108.543 18.2224 109.303 18.2224C110.123 18.2224 110.773 18.0324 111.253 17.6524V12.1324Z"
                                fill="#F37124" />
                            <path
                                d="M132.325 23.0034L132.138 23.0649C130.935 23.464 129.157 24.0806 127.56 24.815C127.476 24.8559 127.419 24.9685 127.419 24.9685C127.389 25.0375 127.353 25.122 127.312 25.2166L127.307 25.2295C127.127 25.6362 126.882 26.2477 126.775 26.4985L126.693 26.6955C126.68 26.7262 126.688 26.762 126.714 26.785C126.729 26.8004 126.746 26.8081 126.767 26.8081C126.777 26.8081 126.79 26.8056 126.803 26.8004L126.994 26.7083C127.433 26.501 127.985 26.1863 128.564 25.91L128.584 25.8998C129.686 25.3778 130.93 24.7867 131.679 24.4286C131.679 24.4286 131.8 24.3647 131.861 24.2443L132.422 23.1186C132.437 23.0905 132.432 23.0546 132.412 23.0291C132.391 23.0034 132.355 22.9932 132.325 23.0034Z"
                                fill="#F37124" />
                            <path
                                d="M127.841 21.259C127.921 21.1054 128.285 20.4044 128.366 20.2483L128.382 20.2202C130.817 15.6275 133.785 11.2933 137.201 7.34284L137.296 7.23281C137.324 7.19962 137.329 7.14843 137.308 7.11003C137.286 7.06906 137.242 7.04865 137.198 7.05375L137.055 7.07418C134.814 7.38381 132.544 7.81109 130.308 8.34584C130.086 8.40725 129.943 8.55312 129.912 8.58631C128.239 10.5897 126.654 12.698 125.201 14.86C125.129 14.97 125.104 15.1133 125.122 15.231C125.137 15.3461 125.488 18.0454 126.02 20.1178C124.7 23.9173 123.52 28.9244 123.52 28.9244C123.51 28.9577 123.517 28.991 123.536 29.0191C123.556 29.0473 123.587 29.0626 123.623 29.0626H124.374C124.423 29.0626 124.464 29.0344 124.483 28.9909L124.534 28.8503C125.301 26.7573 126.176 24.69 127.143 22.6738C127.368 22.2082 127.841 21.259 127.841 21.259Z"
                                fill="#F37124" />
                            <path
                                d="M138.304 8.16791L138.3 8.02469C138.299 7.97863 138.27 7.94022 138.229 7.92488C138.188 7.90957 138.14 7.92235 138.11 7.95563L138.015 8.0631C134.031 12.6711 130.681 17.7831 128.062 23.261L128.001 23.3889C127.98 23.4299 127.987 23.4785 128.018 23.5117C128.039 23.5322 128.067 23.545 128.095 23.545C128.108 23.545 128.123 23.5424 128.139 23.5373L128.27 23.4836C130.508 22.5574 132.793 21.754 135.061 21.0964C135.197 21.058 135.313 20.9608 135.377 20.8354C136.372 18.896 138.683 15.1401 138.683 15.1401C138.741 15.0556 138.725 14.9303 138.725 14.9303C138.725 14.9303 138.329 10.4399 138.304 8.16791Z"
                                fill="#F37124" />
                            <path
                                d="M143.456 1.68894C142.891 1.1977 142.07 0.967422 140.796 0.939279C139.639 0.913691 138.265 1.16444 136.707 1.67615C136.474 1.75802 136.287 1.88851 136.121 2.0497C134.537 3.53622 132.997 5.11487 131.541 6.74209L131.429 6.86487C131.398 6.90075 131.393 6.95194 131.416 6.99034C131.439 7.03128 131.488 7.05172 131.534 7.0415L131.697 7.00566C134.044 6.50419 136.413 6.12037 138.739 5.86709C138.892 5.84919 139.05 5.90034 139.164 6.00525C139.278 6.11016 139.342 6.26112 139.339 6.41719C139.301 8.72503 139.385 11.0431 139.591 13.3074L139.603 13.4558C139.608 13.5019 139.639 13.5377 139.686 13.5505C139.693 13.5531 139.701 13.5531 139.711 13.5556C139.744 13.5556 139.78 13.5403 139.803 13.5096L139.887 13.3893C141.197 11.5215 142.622 9.70497 144.122 7.98559C144.291 7.79375 144.334 7.67341 144.365 7.49944C144.835 4.48547 144.106 2.25439 143.456 1.68894Z"
                                fill="#F37124" />
                        </svg>

                    </a>

                </div>
                <div class="flex justify-end flex-1 space-x-2">

                    @if (user.Name == "")
                    {
                        <a href="@Routers.AuthPostLogin.Link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M8.90039 7.56023C9.21039 3.96023 11.0604 2.49023 15.1104 2.49023H15.2404C19.7104 2.49023 21.5004 4.28023 21.5004 8.75023V15.2702C21.5004 19.7402 19.7104 21.5302 15.2404 21.5302H15.1104C11.0904 21.5302 9.24039 20.0802 8.91039 16.5402"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2 12H14.88" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M12.6504 8.6499L16.0004 11.9999L12.6504 15.3499" stroke="#292D32"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <a href="@Routers.PostGetDraftList.Link">

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M13.2599 3.60022L5.04985 12.2902C4.73985 12.6202 4.43985 13.2702 4.37985 13.7202L4.00985 16.9602C3.87985 18.1302 4.71985 18.9302 5.87985 18.7302L9.09985 18.1802C9.54985 18.1002 10.1799 17.7702 10.4899 17.4302L18.6999 8.74022C20.1199 7.24022 20.7599 5.53022 18.5499 3.44022C16.3499 1.37022 14.6799 2.10022 13.2599 3.60022Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                                <path d="M11.8901 5.0498C12.3201 7.8098 14.5601 9.9198 17.3401 10.1998" stroke="#292D32"
                                stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round">
                                </path>
                                <path d="M3 22H21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    }


                </div>
            </div>
            <div class="absolute top-0 left-0 z-0 flex flex-col invisible w-full min-h-screen duration-150 bg-black opacity-0 bg-opacity-60"
                id="nav-bg">
                <div class="flex-1 w-1/2 pt-20 pl-2 duration-300 transform -translate-x-full bg-alabaster-500"
                    id="nav-menu">

                    <ul class="space-y-6 font-medium">

                        <li>
                            <a class="text-tango-500" href="@Routers.CommonGetHome.Link">Home</a>
                        </li>

                        @foreach (var item in listNavbar)
                        {
                            var link = $"{Routers.PostGetSearch.Link}?search={item}";

                            <li>
                                <a href="@link" class="duration-300 text-shark-300 hover:text-tango-500">@item</a>
                            </li>
                        }

                        <li>
                            <a href="https://github.com/MonoInfinity/fpt-blog" target="_blank"
                                class="text-shark-300">Contact</a>
                        </li>
                        @if (user.Name != "")
                        {

                            <li>
                                <div class="flex space-x-2">
                                    <a href="@Routers.UserGetMyProfile.Link">

                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                            <path
                                            d="M12.1202 12.7805C12.0502 12.7705 11.9602 12.7705 11.8802 12.7805C10.1202 12.7205 8.72021 11.2805 8.72021 9.51047C8.72021 7.70047 10.1802 6.23047 12.0002 6.23047C13.8102 6.23047 15.2802 7.70047 15.2802 9.51047C15.2702 11.2805 13.8802 12.7205 12.1202 12.7805Z"
                                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            </path>
                                            <path
                                            d="M18.7398 19.3796C16.9598 21.0096 14.5998 21.9996 11.9998 21.9996C9.39977 21.9996 7.03977 21.0096 5.25977 19.3796C5.35977 18.4396 5.95977 17.5196 7.02977 16.7996C9.76977 14.9796 14.2498 14.9796 16.9698 16.7996C18.0398 17.5196 18.6398 18.4396 18.7398 19.3796Z"
                                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            </path>
                                            <path
                                            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </a>

                                    <a href="@Routers.PostGetSearch.Link">
                                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                            <path
                                            d="M11.4585 20.833C16.6362 20.833 20.8335 16.6357 20.8335 11.458C20.8335 6.28034 16.6362 2.08301 11.4585 2.08301C6.28083 2.08301 2.0835 6.28034 2.0835 11.458C2.0835 16.6357 6.28083 20.833 11.4585 20.833Z"
                                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            </path>
                                            <path
                                            d="M19.7188 21.5522C20.2709 23.2188 21.5313 23.3855 22.5 21.9272C23.3854 20.5938 22.8021 19.5001 21.1979 19.5001C20.0104 19.4897 19.3438 20.4168 19.7188 21.5522Z"
                                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            </path>
                                        </svg>

                                    </a>
                                </div>
                            </li>
                            <li class="mt-4">

                                <a href="@Routers.AuthGetLogout.Link">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                        <path
                                        d="M8.90039 7.56023C9.21039 3.96023 11.0604 2.49023 15.1104 2.49023H15.2404C19.7104 2.49023 21.5004 4.28023 21.5004 8.75023V15.2702C21.5004 19.7402 19.7104 21.5302 15.2404 21.5302H15.1104C11.0904 21.5302 9.24039 20.0802 8.91039 16.5402"
                                        stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                        <path d="M14.9991 12H3.61914" stroke="#292D32" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.85 8.6499L2.5 11.9999L5.85 15.3499" stroke="#292D32" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </a>

                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="hidden md:block">
            <div class="flex items-center justify-between py-4 transform ">
                <div class="flex items-center flex-1">
                    <a href="@Routers.PostGetSearch.Link" class="block p-2 bg-gray-500">

                        @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                        new {Icon ="../Icons/SearchNavbar.cshtml", Description = "Search" })

                    </a>
                </div>
                <div class="flex items-center justify-center flex-1">
                    <a href="@Routers.CommonGetHome.Link" class="inline-block">
                        @await Html.PartialAsync("../../Components/Icons/Logo-lg.cshtml")
                    </a>
                </div>
                <div class="flex items-center justify-end flex-1">
                    <div class="flex items-center space-x-4">

                        @if (user.Name == "")
                        {
                            <a href="@Routers.AuthPostLogin.Link">
                                @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                            new {Icon ="../Icons/Login.cshtml", Description = "Login" })

                            </a>
                        }
                        else
                        {
                            <a href="@Routers.PostGetDraftList.Link">
                                @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                            new {Icon ="../Icons/DraftList.cshtml", Description = "Draft List" })

                            </a>

                            <a href="@Routers.UserGetMyProfile.Link">
                                @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                            new {Icon ="../Icons/Profile.cshtml", Description = "View Profile" })
                            </a>
                            <a href="@Routers.NotificationMe.Link">
                                @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                            new {Icon ="../Icons/Notification.cshtml", Description = "Notification" })
                            </a>



                            @if (user.Role == UserRole.LECTURER)
                            {
                                <a href="@RoutersAdmin.PostGetList.Link">
                                    @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                            new {Icon ="../Icons/Dashboard.cshtml", Description = "Dashboard" })

                                </a>
                            }

                            <a href="@Routers.AuthGetLogout.Link">

                                @await Html.PartialAsync("../../Components/Common/IconToolTip.cshtml",
                            new {Icon ="../Icons/Logout.cshtml", Description = "Logout" })
                            </a>


                        }

                    </div>
                </div>
            </div>
            <div class="py-4 ">
                <ul class="flex items-center justify-center space-x-16 font-medium">
                    <li>
                        <a class="text-tango-500" href="@Routers.CommonGetHome.Link">Home</a>
                    </li>

                    @foreach (var item in listNavbar)
                    {
                        var link = $"{Routers.PostGetSearch.Link}?search={item}";

                        <li>
                            <a href="@link" class="duration-300 text-shark-300 hover:text-tango-500">@item</a>
                        </li>
                    }
                    <li>
                        <a href="@howToWriteLink" class="duration-300 text-shark-300 hover:text-tango-500">New Post?</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
