@{
    var viewData = (ViewDataDictionary<dynamic>)Model;

    var user = (User)this.ViewData["user"] ?? new User();
}

<div>
    <div class="relative md:hidden">
        <div class="fixed z-50 flex items-center justify-between w-full px-2 py-4 shadow-lg bg-alabaster-500">
            <div class="space-y-2" id="nav-btn">
                <div class="w-8 h-0.75 rounded-full bg-shark-500 transform duration-300 " id="nav-btn-1"></div>
                <div class="w-8 h-0.75 rounded-full bg-shark-500 transform duration-300" id="nav-btn-2"></div>
                <div class="w-8 h-0.75 rounded-full bg-shark-500 transform duration-300" id="nav-btn-3"></div>
            </div>

            <div>
                <a href="@Routers.CommonGetHome.Link">
                    <h1 class="text-3xl font-semibold text-tango-500">FPT Blog</h1>
                </a>

            </div>
            <div class="flex space-x-2">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.4585 20.833C16.6362 20.833 20.8335 16.6357 20.8335 11.458C20.8335 6.28034 16.6362 2.08301 11.4585 2.08301C6.28083 2.08301 2.0835 6.28034 2.0835 11.458C2.0835 16.6357 6.28083 20.833 11.4585 20.833Z"
                        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                    <path
                        d="M19.7188 21.5522C20.2709 23.2188 21.5313 23.3855 22.5 21.9272C23.3854 20.5938 22.8021 19.5001 21.1979 19.5001C20.0104 19.4897 19.3438 20.4168 19.7188 21.5522Z"
                        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.1202 12.7805C12.0502 12.7705 11.9602 12.7705 11.8802 12.7805C10.1202 12.7205 8.72021 11.2805 8.72021 9.51047C8.72021 7.70047 10.1802 6.23047 12.0002 6.23047C13.8102 6.23047 15.2802 7.70047 15.2802 9.51047C15.2702 11.2805 13.8802 12.7205 12.1202 12.7805Z"
                        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                    <path
                        d="M18.7398 19.3796C16.9598 21.0096 14.5998 21.9996 11.9998 21.9996C9.39977 21.9996 7.03977 21.0096 5.25977 19.3796C5.35977 18.4396 5.95977 17.5196 7.02977 16.7996C9.76977 14.9796 14.2498 14.9796 16.9698 16.7996C18.0398 17.5196 18.6398 18.4396 18.7398 19.3796Z"
                        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                    <path
                        d="M12 22C17.5228 22 22 17.5229 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5229 6.47715 22 12 22Z"
                        stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
            </div>
        </div>
        <div class="absolute top-0 left-0 z-0 flex flex-col w-full min-h-screen duration-150 bg-black opacity-0 bg-opacity-60"
            id="nav-bg">
            <div class="flex-1 w-1/2 pt-20 pl-2 duration-300 transform -translate-x-full bg-alabaster-500"
                id="nav-menu">

                <ul class="space-y-6 font-medium">

                    <li>
                        <a class="text-tango-500" href="#">Home</a>
                    </li>
                    <li>
                        <a class="text-shark-300">Club</a>
                    </li>
                    <li>
                        <a class="text-shark-300">Student</a>
                    </li>
                    <li>
                        <a class="text-shark-300">IT</a>
                    </li>
                    <li>
                        <a class="text-shark-300">Cyber Security</a>
                    </li>
                    <li>
                        <a class="text-shark-300">Contact</a>
                    </li>
                    <li>
                        <div class="flex space-x-2">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.2599 3.60022L5.04985 12.2902C4.73985 12.6202 4.43985 13.2702 4.37985 13.7202L4.00985 16.9602C3.87985 18.1302 4.71985 18.9302 5.87985 18.7302L9.09985 18.1802C9.54985 18.1002 10.1799 17.7702 10.4899 17.4302L18.6999 8.74022C20.1199 7.24022 20.7599 5.53022 18.5499 3.44022C16.3499 1.37022 14.6799 2.10022 13.2599 3.60022Z"
                                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M11.8901 5.0498C12.3201 7.8098 14.5601 9.9198 17.3401 10.1998" stroke="#292D32"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M3 22H21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 6.44043V9.77043" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round"></path>
                                <path
                                    d="M12.0199 2C8.3399 2 5.3599 4.98 5.3599 8.66V10.76C5.3599 11.44 5.0799 12.46 4.7299 13.04L3.4599 15.16C2.6799 16.47 3.2199 17.93 4.6599 18.41C9.4399 20 14.6099 20 19.3899 18.41C20.7399 17.96 21.3199 16.38 20.5899 15.16L19.3199 13.04C18.9699 12.46 18.6899 11.43 18.6899 10.76V8.66C18.6799 5 15.6799 2 12.0199 2Z"
                                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round">
                                </path>
                                <path
                                    d="M15.3299 18.8203C15.3299 20.6503 13.8299 22.1503 11.9999 22.1503C11.0899 22.1503 10.2499 21.7703 9.64992 21.1703C9.04992 20.5703 8.66992 19.7303 8.66992 18.8203"
                                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"></path>
                            </svg>


                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden md:block">
        <div class="flex items-center justify-between px-32 py-4">
            <a href="@Routers.PostGetSearch.Link" class="p-2 bg-gray-500">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M18.9299 20.6898C19.4599 22.2898 20.6699 22.4498 21.5999 21.0498C22.4499 19.7698 21.8899 18.7198 20.3499 18.7198C19.2099 18.7098 18.5699 19.5998 18.9299 20.6898Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </a>
            <div>
                <a href="@Routers.CommonGetHome.Link">
                    <h1 class="text-4xl font-semibold text-tango-500">FPT Blog</h1>
                </a>
            </div>
            <div>
                <div class="flex items-center space-x-4">

                    @if (user.Name == "")
                    {
                        <a href="@Routers.AuthPostLogin.Link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M8.90039 7.56023C9.21039 3.96023 11.0604 2.49023 15.1104 2.49023H15.2404C19.7104 2.49023 21.5004 4.28023 21.5004 8.75023V15.2702C21.5004 19.7402 19.7104 21.5302 15.2404 21.5302H15.1104C11.0904 21.5302 9.24039 20.0802 8.91039 16.5402"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2 12H14.88" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M12.6504 8.6499L16.0004 11.9999L12.6504 15.3499" stroke="#292D32"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                        </a>
                    }
                    else
                    {
                        <a href="@Routers.PostGetDraftList.Link">

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M13.2599 3.60022L5.04985 12.2902C4.73985 12.6202 4.43985 13.2702 4.37985 13.7202L4.00985 16.9602C3.87985 18.1302 4.71985 18.9302 5.87985 18.7302L9.09985 18.1802C9.54985 18.1002 10.1799 17.7702 10.4899 17.4302L18.6999 8.74022C20.1199 7.24022 20.7599 5.53022 18.5499 3.44022C16.3499 1.37022 14.6799 2.10022 13.2599 3.60022Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                                <path d="M11.8901 5.0498C12.3201 7.8098 14.5601 9.9198 17.3401 10.1998" stroke="#292D32"
                                stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round">
                                </path>
                                <path d="M3 22H21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>

                        <a href="@Routers.UserGetProfile.Link">

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M12.1202 12.7805C12.0502 12.7705 11.9602 12.7705 11.8802 12.7805C10.1202 12.7205 8.72021 11.2805 8.72021 9.51047C8.72021 7.70047 10.1802 6.23047 12.0002 6.23047C13.8102 6.23047 15.2802 7.70047 15.2802 9.51047C15.2702 11.2805 13.8802 12.7205 12.1202 12.7805Z"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                d="M18.7398 19.3796C16.9598 21.0096 14.5998 21.9996 11.9998 21.9996C9.39977 21.9996 7.03977 21.0096 5.25977 19.3796C5.35977 18.4396 5.95977 17.5196 7.02977 16.7996C9.76977 14.9796 14.2498 14.9796 16.9698 16.7996C18.0398 17.5196 18.6398 18.4396 18.7398 19.3796Z"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </a>
                        <a href="@RoutersAdmin.HomeDashboard.Link">

                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 19.5H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M11 12.5H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M11 5.5H21" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M3 5.5L4 6.5L7 3.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M3 12.5L4 13.5L7 10.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M3 19.5L4 20.5L7 17.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                        </a>

                        <a href="@Routers.AuthGetLogout.Link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M8.90039 7.56023C9.21039 3.96023 11.0604 2.49023 15.1104 2.49023H15.2404C19.7104 2.49023 21.5004 4.28023 21.5004 8.75023V15.2702C21.5004 19.7402 19.7104 21.5302 15.2404 21.5302H15.1104C11.0904 21.5302 9.24039 20.0802 8.91039 16.5402"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M14.9991 12H3.61914" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                                <path d="M5.85 8.6499L2.5 11.9999L5.85 15.3499" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                        </a>


                    }

                </div>
            </div>
        </div>
        <div class="py-4 shadow-md bg-alabaster-500 ">
            <ul class="flex items-center justify-center space-x-16 font-medium">
                <li>
                    <a class="text-tango-500" href="@Routers.CommonGetHome.Link">Home</a>
                </li>
                <li>
                    <a class="text-shark-300" href="@Routers.CommonGetHome.Link">Club</a>
                </li>
                <li>
                    <a class="text-shark-300">Student</a>
                </li>
                <li>
                    <a class="text-shark-300">IT</a>
                </li>
                <li>
                    <a class="text-shark-300">Cyber Security</a>
                </li>
                <li>
                    <a class="text-shark-300">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
