@using FPTBlog.Src.RewardModule.Entity
@{
    var viewData = (ViewDataDictionary)Model.Value;
    var profile = (User)viewData["user"];
    var rewards = (List<UserReward>)viewData["rewards"];

    var followerLink = $"{Routers.UserGetFollower.Link}?userId={profile.UserId}";
    var followingLink = $"{Routers.UserGetFollowing.Link}?userId={profile.UserId}";
}

<div
    class="relative flex flex-col items-center justify-center px-2 py-16 space-y-2 border rounded-md shadow-lg intro-y">
    <div class="w-32 h-32 overflow-hidden border rounded-full ">
        <img src="https://picsum.photos/200" class="object-cover w-full h-full" />
    </div>
    <div class="text-center">
        <h1 class="duration-300 hover:text-tango-500 ">
            <a href="@Routers.UserGetMyProfile.Link" class="text-xl font-semibold">@profile.Name</a>
        </h1>
        <p class="text-sm font-medium opacity-70">@profile.Username</p>
    </div>
    <div class="w-3/5 h-0.5 bg-tango-300 opacity-60"></div>

    <div class="flex w-full justify-evenly">
        <a class="text-center" href="@followerLink">
            <p class="font-semibold duration-200 opacity-80 hover:text-tango-500">Follower</p>
            <p class="text-lg font-semibold">@viewData["countFollower"]</p>
        </a>
        <div class="text-center">
            <p class="font-semibold duration-200 opacity-80 hover:text-tango-500">Post</p>
            <p class="text-lg font-semibold">@viewData["countPost"]</p>
        </div>
        <a class="text-center" href="@followingLink">
            <p class="font-semibold duration-200 opacity-80 hover:text-tango-500">Following</p>
            <p class="text-lg font-semibold">@viewData["countFollowing"]</p>
        </a>
    </div>

    @if (rewards.Count != 0)
    {
        <div class="space-y-2 text-center">
            <p class="font-medium opacity-70">Reward</p>
            <div class="flex items-center justify-center space-x-1">
                @foreach (var item in rewards)
                {
                    @await Html.PartialAsync("../../Components/Common/BadgeIcon.cshtml",
            new { Name = item.Reward.Name, ImageUrl = item.Reward.ImageUrl, Description = item.Reward.Description })
                }
            </div>
        </div>
    }
    <div>
        <div class="flex items-center mt-4 space-x-2">
            <a href="@Routers.UserPutPassword.Link"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white duration-200 border border-transparent rounded-md shadow-sm bg-tango-500 hover:bg-tango-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">

                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path
                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                </svg>
                Change Password
            </a>
            <a href="@Routers.UserPutUser.Link"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white duration-200 border border-transparent rounded-md shadow-sm bg-tango-500 hover:bg-tango-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">

                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                        clip-rule="evenodd" />
                </svg>
                Update Profile
            </a>
        </div>
    </div>
</div>
