@{
    var viewData = (ViewDataDictionary)Model.Value;
    var profile = (User)viewData["user"];
}

<div class="flex flex-col items-center justify-center px-2 py-16 space-y-2 border rounded-md shadow-lg intro-y">
    <div class="w-32 h-32 overflow-hidden border rounded-full intro-x">
        <img src="https://picsum.photos/200" class="object-cover w-full h-full" />
    </div>
    <div class="text-center">
        <h1 class="duration-300 hover:text-tango-500 ">
            <a href="@Routers.UserGetMyProfile.Link" class="text-xl font-semibold">@profile.Name</a>
        </h1>
        <p class="text-sm font-medium opacity-70">@profile.Username</p>
    </div>
    <div class="w-3/5 h-0.5 bg-tango-300 opacity-60"></div>

    <div class="flex w-full justify-evenly">
        <div class="text-center">
            <p class="font-semibold opacity-80">Follower</p>
            <p class="text-lg font-semibold">@viewData["countFollower"]</p>
        </div>
        <div class="text-center">
            <p class="font-semibold opacity-80">Post</p>
            <p class="text-lg font-semibold">@viewData["countPost"]</p>
        </div>
        <div class="text-center">
            <p class="font-semibold opacity-80">Following</p>
            <p class="text-lg font-semibold">@viewData["countFollowing"]</p>
        </div>
    </div>
    <div class="space-y-2">
        <p class="font-medium opacity-70">Reward</p>
        <div class="flex items-center space-x-1">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.3162 0.444334C14.4483 -0.416016 16.088 0.0232992 16.6382 1.33445C17.0163 2.23535 17.9487 2.77366 18.9179 2.65061C20.3285 2.47155 21.5288 3.67184 21.3497 5.08246C21.2267 6.0517 21.765 6.98405 22.6659 7.36215C23.9771 7.91237 24.4164 9.55202 23.556 10.6841C22.9648 11.462 22.9648 12.5386 23.556 13.3165C24.4164 14.4486 23.9771 16.0882 22.6659 16.6385C21.831 16.9888 21.3076 17.8152 21.3332 18.7058C21.3352 18.7763 21.3407 18.8471 21.3497 18.9181L20.7268 20.3848L18.9178 20.9281L17.5462 21.2981L16.6382 22.2443L14.9864 23.5883L13.3162 22.9171H10.6838L9.07483 23.6007L7.36186 22.2443L6.42075 21.2791L5.08217 20.9281L3.2733 20.3849L2.65033 18.9181C2.65933 18.8471 2.66481 18.7762 2.66683 18.7058C2.69247 17.8152 2.16901 16.9888 1.33412 16.6385C0.0230592 16.0882 -0.416256 14.4486 0.444093 13.3165C1.03524 12.5386 1.03524 11.462 0.444093 10.6841C-0.416256 9.55202 0.0230591 7.91237 1.33421 7.36215C2.23511 6.98405 2.77342 6.0517 2.65037 5.08246C2.47131 3.67184 3.6716 2.47155 5.08222 2.65061C6.05146 2.77366 6.98381 2.23535 7.36191 1.33445C7.91218 0.0232992 9.55178 -0.416016 10.6839 0.444334C11.4618 1.03548 12.5384 1.03548 13.3162 0.444334V0.444334Z"
                    fill="#FFCB5B" />
                <path
                    d="M21.3495 18.9182C21.3405 18.8471 21.3354 18.7763 21.3334 18.7058C21.137 19.8077 20.1016 20.6293 18.9176 20.479C17.9484 20.356 17.016 20.8943 16.6379 21.7952C16.0877 23.1063 14.4481 23.5456 13.316 22.6853C12.5381 22.0941 11.4615 22.0941 10.6836 22.6853C9.5515 23.5456 7.91185 23.1063 7.36163 21.7952C6.98353 20.8943 6.05118 20.356 5.08194 20.479C3.89796 20.6293 2.86258 19.8077 2.66617 18.7058C2.66415 18.7763 2.65909 18.8471 2.65009 18.9182C2.47103 20.3288 3.67132 21.5291 5.08194 21.35C6.05118 21.227 6.98358 21.7653 7.36163 22.6662C7.9119 23.9773 9.5515 24.4166 10.6836 23.5563C11.4615 22.9651 12.5381 22.9651 13.316 23.5563C14.4481 24.4166 16.0877 23.9773 16.6379 22.6662C17.016 21.7653 17.9484 21.227 18.9176 21.35C20.3282 21.529 21.5285 20.3287 21.3495 18.9182V18.9182Z"
                    fill="#F7B737" />
                <path
                    d="M12.0002 20.7931C2.59099 20.7931 2.59432 11.7091 2.60093 11.5647C2.82846 6.57036 6.9496 2.59106 12.0002 2.59106C17.0508 2.59106 21.1719 6.57036 21.3994 11.5647C21.406 11.7091 21.3995 20.7931 12.0002 20.7931V20.7931Z"
                    fill="#FF4755" />
                <path
                    d="M12 20.5384C6.94948 20.5384 2.82881 16.559 2.60123 11.5647C2.59466 11.7091 2.59082 11.8542 2.59082 12.0002C2.59082 17.1967 6.80346 21.4093 12 21.4093C17.1966 21.4093 21.4092 17.1968 21.4092 12.0002C21.4092 11.8542 21.4054 11.7091 21.3988 11.5647C21.1712 16.559 17.0505 20.5384 12 20.5384Z"
                    fill="#FC2B3A" />
                <path
                    d="M12.0002 18.9767C4.44816 18.9767 4.45229 11.7086 4.46049 11.5645C4.6861 7.59629 7.97548 4.448 12.0002 4.448C16.0248 4.448 19.3142 7.59629 19.5398 11.5645C19.548 11.7086 19.5398 18.9767 12.0002 18.9767Z"
                    fill="#C61926" />
                <path
                    d="M12.0002 18.681C7.97556 18.681 4.6867 15.5326 4.46104 11.5645C4.45284 11.7086 4.44824 11.8537 4.44824 11.9999C4.44824 16.1708 7.82936 19.5519 12.0002 19.5519C16.1711 19.5519 19.5522 16.1708 19.5522 11.9999C19.5522 11.8537 19.5476 11.7086 19.5394 11.5645C19.3138 15.5326 16.0249 18.681 12.0002 18.681V18.681Z"
                    fill="#AD1729" />
                <path
                    d="M12.685 8.34745L13.3828 9.76139C13.4941 9.98686 13.7092 10.1431 13.958 10.1793L15.5184 10.406C16.145 10.4971 16.3951 11.267 15.9418 11.709L14.8126 12.8096C14.6326 12.9851 14.5505 13.2379 14.5929 13.4857L14.8595 15.0399C14.8897 15.216 14.8592 15.3803 14.7872 15.5189H13.7511L12 14.6534L10.2489 15.5189H9.21272C9.14077 15.3803 9.11025 15.216 9.14048 15.0398L9.40702 13.4857C9.44953 13.2379 9.36736 12.9851 9.18731 12.8096L8.05818 11.709C7.6048 11.267 7.85498 10.4971 8.48151 10.406L10.0419 10.1793C10.2908 10.1431 10.5058 9.98686 10.6171 9.76144L11.3149 8.34745C11.5952 7.77969 12.4048 7.77969 12.685 8.34745V8.34745Z"
                    fill="#FFE27A" />
                <path
                    d="M11.8875 14.1125L9.21289 15.5186C9.39585 15.8709 9.84674 16.0564 10.2489 15.8449L11.6446 15.1111C11.8672 14.9941 12.133 14.9941 12.3556 15.1111L13.7513 15.8449C14.1535 16.0564 14.6044 15.8709 14.7873 15.5186L12.1127 14.1125C12.0422 14.0755 11.958 14.0755 11.8875 14.1125V14.1125Z"
                    fill="#F9CF58" />
            </svg>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path
                        d="M21.4557 21.615L18.5664 20.9791L17.6709 23.8061C17.6065 24.0094 17.3312 24.0392 17.2248 23.8544L13.6504 17.6451C15.4111 17.2636 16.9777 16.3595 18.1806 15.1028L21.7208 21.2534C21.827 21.4379 21.6637 21.6608 21.4557 21.615V21.615Z"
                        fill="#FD646F" />
                    <path
                        d="M21.4562 21.6148L18.7855 21.027C18.6617 20.9997 18.5375 21.0714 18.4992 21.1923L17.6714 23.8059C17.607 24.0092 17.3317 24.039 17.2253 23.8542L14.1631 18.5343L13.6509 17.6449C15.4116 17.2634 16.9782 16.3592 18.1811 15.1025L18.6894 15.9851L21.7214 21.2531C21.8275 21.4377 21.6641 21.6606 21.4562 21.6148V21.6148Z"
                        fill="#FD646F" />
                    <path
                        d="M21.4563 21.6147L18.7858 21.0269C18.6618 21 18.5377 21.0716 18.4995 21.1921L18.787 20.2989C18.8257 20.1785 18.9499 20.1073 19.0735 20.1348L21.3715 20.6456L21.7214 21.2534C21.8278 21.4377 21.6641 21.6607 21.4563 21.6147Z"
                        fill="#FC4755" />
                    <path
                        d="M10.4049 17.5705L6.774 23.8769C6.66763 24.0617 6.39234 24.0319 6.32793 23.8287L5.50003 21.215C5.46174 21.0942 5.33753 21.0224 5.21371 21.0497L2.54308 21.6375C2.33515 21.6833 2.17177 21.4604 2.27799 21.2759L5.65497 15.4089C6.91571 16.6042 8.61628 17.276 10.4049 17.5705Z"
                        fill="#FD646F" />
                    <path
                        d="M6.13279 16.2817L3.12359 21.5095L2.54312 21.6374C2.33519 21.6832 2.17177 21.4603 2.27799 21.2758L5.15249 16.2817L5.92981 14.9277C6.13912 15.1259 6.35774 15.3142 6.58567 15.4912L6.13279 16.2817Z"
                        fill="#FC4755" />
                    <path
                        d="M7.12801 23.2614L6.77361 23.8771C6.66724 24.0619 6.39225 24.0324 6.32755 23.829L5.49964 21.2154C5.46141 21.0943 5.33739 21.0227 5.21338 21.0497L6.12903 20.8483C6.25285 20.821 6.37701 20.8928 6.41529 21.0136L7.12801 23.2614Z"
                        fill="#FC4755" />
                    <path
                        d="M5.73649 15.2598L8.12458 16.3367L10.4047 17.5706L9.79334 18.6318C8.0885 18.2857 6.5067 17.4922 5.1994 16.3235C5.18372 16.3097 5.16803 16.296 5.15234 16.2817L5.73649 15.2598Z"
                        fill="#FC4755" />
                    <path
                        d="M18.6889 15.9853L18.1806 15.1028L15.4908 16.29L13.6504 17.6451L13.8572 18.0043L14.3652 18.8865L17.2248 23.8543C17.3312 24.0391 17.6065 24.0093 17.6709 23.8061L17.853 23.2312L15.0107 18.2804C16.3867 17.8015 17.6393 17.0226 18.6889 15.9853V15.9853Z"
                        fill="#FC4755" />
                    <path
                        d="M20.896 8.92309C20.896 11.3214 19.9524 13.4994 18.4166 15.1027C17.2138 16.3594 15.6471 17.2636 13.8864 17.6451C13.2781 17.7769 12.6473 17.8462 11.9997 17.8462C11.5056 17.8462 11.0213 17.8058 10.5493 17.7282C8.85231 17.4489 7.31659 16.6878 6.08722 15.5895C6.02056 15.5305 5.95537 15.4705 5.89066 15.4091C5.66126 15.1918 5.44362 14.9621 5.23775 14.7217C5.0407 14.4907 4.85541 14.2493 4.68238 13.9985C4.16279 13.2468 3.75545 12.4105 3.48438 11.5147C3.23684 10.6946 3.10352 9.82482 3.10352 8.92313C3.10352 3.99519 7.08669 0 11.9997 0C12.8982 0 13.7658 0.13372 14.583 0.382534C15.4766 0.653455 16.3099 1.06202 17.0598 1.58366C17.3098 1.75724 17.5505 1.94306 17.7804 2.14119C18.0882 2.40471 18.3774 2.68941 18.6465 2.99224C20.046 4.56899 20.896 6.6467 20.896 8.92309Z"
                        fill="#FAA515" />
                    <path
                        d="M11.9998 15.3141C15.5189 15.3141 18.3717 12.4527 18.3717 8.92291C18.3717 5.39316 15.5189 2.53174 11.9998 2.53174C8.48073 2.53174 5.62793 5.39316 5.62793 8.92291C5.62793 12.4527 8.48073 15.3141 11.9998 15.3141Z"
                        fill="#FAD207" />
                    <path
                        d="M18.3716 8.92311C18.3716 12.4527 15.5187 15.3142 11.9997 15.3142C8.48076 15.3142 5.62793 12.4527 5.62793 8.92311C5.62793 8.6566 5.64411 8.39406 5.67597 8.13647C6.06223 11.2954 8.74643 13.7409 11.9997 13.7409C15.253 13.7409 17.9373 11.2954 18.3235 8.13647C18.3554 8.39411 18.3716 8.65665 18.3716 8.92311V8.92311Z"
                        fill="#FAA515" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.9997 2.53198C8.48076 2.53198 5.62793 5.39344 5.62793 8.92306C5.62793 12.4527 8.48076 15.3141 11.9997 15.3141C15.5187 15.3141 18.3716 12.4527 18.3716 8.92306C18.3716 5.39344 15.5187 2.53198 11.9997 2.53198V2.53198ZM11.9997 14.5766C8.89153 14.5766 6.36319 12.0406 6.36319 8.92306C6.36319 5.80548 8.89153 3.2695 11.9997 3.2695C15.108 3.2695 17.6363 5.80548 17.6363 8.92306C17.6363 12.0406 15.108 14.5766 11.9997 14.5766Z"
                        fill="#FAF063" />
                    <path
                        d="M12.2195 5.38881L13.0948 7.17683C13.1305 7.24967 13.1998 7.30016 13.2801 7.31168L15.2473 7.59432C15.4486 7.62324 15.5291 7.87063 15.3834 8.01249L13.9566 9.40179C13.8987 9.45821 13.8723 9.53953 13.8861 9.61919L14.2261 11.5836C14.2608 11.7843 14.0498 11.9373 13.8698 11.8419L12.1141 10.9116C12.0424 10.8736 11.9564 10.8736 11.8846 10.9116L10.129 11.8419C9.94898 11.9373 9.73796 11.7843 9.77271 11.5836L10.1127 9.61919C10.1265 9.53953 10.1001 9.45821 10.0422 9.40179L8.6154 8.01249C8.46967 7.87058 8.55021 7.62324 8.75152 7.59432L10.7187 7.31168C10.7989 7.30016 10.8683 7.24967 10.9039 7.17683L11.7792 5.38881C11.8689 5.20568 12.1299 5.20568 12.2195 5.38881V5.38881Z"
                        fill="#FAA515" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="24" height="24" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
    </div>
    <div>
        <div class="flex items-center mt-4 space-x-2">
            <button type="button" id="follow-btn" data-userId="@profile.UserId"
                class="px-4 py-2 duration-300 border rounded-sm shadow-md hover:bg-tango-500 hover:text-white ">
                Follow
            </button>
        </div>
    </div>
</div>
