@using FPTBlog.Src.RewardModule.Entity
@{
    var viewData = (ViewDataDictionary)Model.Value;
    var profile = (User)viewData["user"];
    var rewards = (List<UserReward>)viewData["rewards"];
    var followerLink = $"{Routers.UserGetFollower.Link}?userId={profile.UserId}";
    var followingLink = $"{Routers.UserGetFollowing.Link}?userId={profile.UserId}";
}

<div
    class="relative flex flex-col items-center justify-center px-2 py-16 space-y-2 border rounded-md shadow-lg intro-y">
    <div class="w-32 h-32 overflow-hidden border rounded-full">
        <img src="https://picsum.photos/200" class="object-cover w-full h-full" />
    </div>
    <div class="text-center">
        <h1 class="duration-300 hover:text-tango-500 ">
            <a href="@Routers.UserGetMyProfile.Link" class="text-xl font-semibold">@profile.Name</a>
        </h1>
        <p class="text-sm font-medium opacity-70">@profile.Username</p>
    </div>
    <div class="w-3/5 h-0.5 bg-tango-300 opacity-60"></div>

    <div class="flex w-full justify-evenly">
        <a class="text-center" href="@followerLink">
            <p class="font-semibold duration-200 opacity-80 hover:text-tango-500">Follower</p>
            <p class="text-lg font-semibold">@viewData["countFollower"]</p>
        </a>
        <div class="text-center">
            <p class="font-semibold duration-200 opacity-80 hover:text-tango-500">Post</p>
            <p class="text-lg font-semibold">@viewData["countPost"]</p>
        </div>
        <a class="text-center" href="@followingLink">
            <p class="font-semibold duration-200 opacity-80 hover:text-tango-500">Following</p>
            <p class="text-lg font-semibold">@viewData["countFollowing"]</p>
        </a>
    </div>
    @if (rewards.Count != 0)
    {
        <div class="space-y-2 text-center">
            <p class="font-medium opacity-70">Reward</p>
            <div class="flex items-center justify-center space-x-1">
                @foreach (var item in rewards)
                {
                    @await Html.PartialAsync("../../Components/Common/BadgeIcon.cshtml",
            new { Name = item.Reward.Name, ImageUrl = item.Reward.ImageUrl, Description = item.Reward.Description })
                }
            </div>
        </div>
    }
    <div>
        <div class="flex items-center mt-4 space-x-2">
            <button type="button" id="follow-btn" data-userId="@profile.UserId"
                class="px-4 py-2 duration-300 border rounded-sm shadow-md hover:bg-tango-500 hover:text-white ">
                Follow
            </button>
        </div>
    </div>
</div>
