@{
    var title = $"{ViewData["Title"]} | FPT Blog";
    var imageUrl = ViewData["ImageUrl"] != null ? $"{ViewData["ImageUrl"]}" : "/images/seo.jpg";
    var description = ViewData["Description"] != null? $"{ViewData["Description"]}" : "FPT Blog where you can share your knowledge, express your emotion with other classmate";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/header/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/header/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/header/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/header/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/header/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/header/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/header/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/header/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/header/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/header/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/header/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/header/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/header/favicon-16x16.png">
    <link rel="manifest" href="~/header/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/header/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WXKFSEWK00');
    </script>

    <meta name="google-site-verification" content="s3ITW061jk73hJz1FkOClSYuBSi0MzC5F1jJwAWYPcQ" />

    <meta name="description" content="@description" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Post, Blog, FPT University, FU BLOG" />


    <meta property="og:type" content="article" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@imageUrl" />

    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@imageUrl" />
    <meta name="twitter:card" content="summary_large_image" />


    <title>@title</title>
    <link href="/style/styles.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <main class="relative flex flex-col min-h-screen bg-blue-50">
        @await Html.PartialAsync("../Components/Navbar/Navbar.cshtml", this.ViewData)
        <div class="flex flex-col flex-1 md:pt-32 bg-opacity-60">
            <div class="flex-1 w-full max-w-6xl pt-20 mx-auto shadow-md md:p-2 xl:w-4/5 bg-alabaster-200 broder">
                @RenderBody()
            </div>
        </div>

        @await Html.PartialAsync("../Components/Footer/Footer.cshtml")
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/navbar.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
