@using FPTBlog.Src.PostModule.Entity
@{
    ViewData["Title"] = Routers.PostGetSearch.Title;
    var posts = (List<Post>)this.ViewData["drafts"];

}
@section Styles {

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

}




@await Html.PartialAsync("../../Components/Form/FormToastify.cshtml")
<div class="px-2 py-8 space-y-6 ">
    <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">
        From the blog
    </h2>
    <div>
        <button type="button" id="createNewPost"
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white duration-300 border border-transparent rounded-md shadow-sm bg-tango-500 hover:bg-tango-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">

            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM14 11a1 1 0 011 1v1h1a1 1 0 110 2h-1v1a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 011-1z" />
            </svg>
            New Draft
        </button>
    </div>
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4 intro-y">
        @if (posts.Count <= 0)
        {
            <p>Draft is empty</p>
        }

        @foreach (var item in posts)
        {

            var link = $"{Routers.PostGetEditor.Link}?postId={item.PostId}";
            <a href="@link"
            class="flex flex-col overflow-hidden duration-300 delay-100 transform rounded-lg shadow-lg hover:-translate-y-1 group">
                <div class="flex-shrink-0">
                    <img class="object-cover w-full h-48 lazy" data-src="@item.CoverUrl" alt="@item.Title">
                </div>
                <div class="flex flex-col justify-between flex-1 px-4 py-6 duration-200 bg-white group-hover:bg-tango-100 ">
                    <div class="flex-1">
                        <p class="text-sm font-medium text-tango-600">
                            <span class="">
                                @item.Category.Name
                            </span>
                        </p>
                        <span class="block mt-2">
                            <p class="text-xl font-semibold text-gray-900">
                                @item.Title
                            </p>
                        </span>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div>
                            @if (item.Status == PostStatus.WAIT)
                            {
                                <div class="block text-xs text-yellow-500 first-letter">Waiting</div>
                            }
                            @if (item.Status == PostStatus.DENY)
                            {
                                <div class="block text-xs text-red-500 first-letter">Denied</div>
                            }
                            @if (item.Status == PostStatus.DRAFT)
                            {
                                <div class="block text-xs first-letter text-shark-500">Draft</div>
                            }
                        </div>
                        <div class="flex space-x-1 text-sm text-gray-500">
                            @item.CreateDate
                        </div>
                    </div>
                </div>
            </a>




        }
    </div>
</div>


@section Scripts {
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/post-create.js"></script>
}
